/* .category-color {
    color: #f24310;
}

.card-border-left {
    border-left-color: rgb(98 212 235) !important;
    border-left-width: 5px !important;
}

.date-font {
    font-weight: 500;
    font-size: 13px;
} */

.product-card {
    margin: 20px;
}